*.c linguist-language=C
*.h linguist-language=C
*.ino linguist-language=C++
*.S linguist-language=Assembly

asm.S linguist-language=Assembly
colors.h linguist-language=C
debug.c linguist-language=C
debug.h linguist-language=C
flags.h linguist-language=C
test.c linguist-language=C
